- if params[:group_id].present?
  = hidden_field_tag :group_id, params[:group_id]
- if params[:project_id].present?
  = hidden_field_tag :project_id, params[:project_id]
.dropdown.form-group.mb-lg-0.mx-lg-1.gl-p-0{ data: { testid: "group-filter" } }
  %label.d-block{ for: "dashboard_search_group" }
    = _("Group")
  %input#js-search-group-dropdown.dropdown-menu-toggle{ value: "Loading...", data: { "initial-data": @group.to_json } }
.dropdown.form-group.mb-lg-0.mx-lg-1{ data: { testid: "project-filter" } }
  %label.d-block{ for: "dashboard_search_project" }
    = _("Project")
  %button.dropdown-menu-toggle.gl-display-inline-flex.js-search-project-dropdown.gl-mt-0{ type: "button", id: "dashboard_search_project", data: { toggle: "dropdown" } }
    %span.dropdown-toggle-text.gl-flex-grow-1.str-truncated-100
      = @project&.full_name || _("Any")
    - if @project.present?
      = link_to sprite_icon("clear"), url_for(safe_params.except(:project_id)), class: 'search-clear js-search-clear has-tooltip', title: _('Clear')
    = sprite_icon("chevron-down", css_class: 'dropdown-menu-toggle-icon gl-top-3')
  .dropdown-menu.dropdown-select.dropdown-menu-selectable.dropdown-menu-right
    = dropdown_title(_("Filter results by project"))
    = dropdown_filter(_("Search projects"))
    = dropdown_content
    = dropdown_loading
